.header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 450;
    font-size: 20px;
    padding: 0px;
    font-family: 'Mandali', sans-serif;
    color: #3b3b3b;
    font-weight: 100;
    display: flex;
}

.menu {
    display: flex;
    width: 100%
}

.main {
    margin-left: 50px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    color: rgba(231, 173, 64, 0.637);
}

    .main:hover {
        color: rgba(231, 173, 64, 0.836);
    }

.switch {
    margin-left: 50px;
    margin-top: 5px;
    cursor: pointer;
    opacity: 0,3;
    font-size: 17px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

    .switch:hover {
        color: rgba(255, 255, 255, 0.842)
    }

#propField {
    cursor: default;
    display: none;
    padding: 15px;
    padding-top: 0px;
    font-size: 13px;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: rgba(32, 32, 32, 0.856);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}

#prop:hover #propField {
    display: block;
}

.slide {
    width: 100%;
}

#s:hover {
    cursor: pointer;
}


#music:hover #radio {
    display: block;
}

#music label:hover {
    cursor: pointer;
    font-size: 14px;
}

#radio {
    cursor: default;
    padding: 15px;
    padding-top: 10px;
    font-size: 13px;
    display: none;
    position: absolute;
    top: 33px;
    left: 130px;
    background-color: rgba(32, 32, 32, 0.856);
    z-index: 155;
    color: rgba(255, 255, 255, 0.678);
}



#alert {
    font-size: 12px;
    padding: 1px;
    font-family: 'Mandali', sans-serif;
    color: #ffffffbd;
    display: none;
}

#infoLink {
    font-size: 10px;
    padding: 1px;
    color: #ffffff;
    opacity: 1;
}

    #infoLink:hover {
        font-size: 10px;
        cursor: default;
    }

        #infoLink:hover #info {
            display: block;
        }

#info {
    cursor: default;
    padding: 10px;
    font-size: 12px;
    display: none;
    position: absolute;
    top: 50px;
    left: 40px;
    width: 230px;
    background-color: rgb(68, 68, 68);
    z-index: 150;
}

.musicButtton {
    width: 200px;
    height: 25px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    display: block;
    color: white;
    transition: border 0.5s;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
}

    .musicButtton:hover {
        border: rgba(187, 187, 187, 0.801) 1px solid;
        cursor: pointer;
    }

button:focus {
    outline: 0;
}
